<div class="row" class="jumbotron vertical-center" style="background-color: rgb(0, 123, 255); height: 515px" >
  
  <div class="col-md-4" style="margin-top: -2%">
    <div class="card float-left" >
      <img class="card-img-top" src={{movie.Poster}} alt="Card image cap">
    </div>
  </div>
  <div class="col-md-9 float-right" style="color: rgb(255, 255, 255)" >
        <h6>Título: {{movie.Title}}</h6>
        <h6>Sinópse: {{movie.Plot}}</h6>
        <h6>Ano: {{movie.Year}}</h6>
        <h6>Estreia: {{movie.Released}}</h6>
        <h6>Duração: {{movie.Runtime}}</h6>
        <h6>Gênero: {{movie.Genre}}</h6>
        <h6>Linguagem: {{movie.Language}}</h6>
        <h6>País: {{movie.Country}}</h6>
        <h6>Nota: {{movie.imdbRating}}  ({{movie.imdbVotes}} votos)</h6>
        <h6>Diretor: {{movie.Director}}</h6>
        <h6>Escritores: {{movie.Writer}}</h6>
  </div>
</div>